<html>

<head>
<link rel="stylesheet" href="/static/css/index.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<body>

<p id="demo"></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/static/js/index.js"></script>
<link rel="stylesheet" href="/static/css/index.css" />

</html>

<!--
<title>First full stack web app</title>

<div id="myDIV" class="header">
  <h2>My To Do List</h2>
  <input type="text" id="myInput" placeholder="Title...">
  <span onclick="newElement()" class="addBtn">Add</span>
</div>

<ul id="myUL">
  <li>Hit the gym</li>
  <li class="checked">Pay bills</li>
  <li>Meet George</li>
  <li>Buy eggs</li>
  <li>Read a book</li>
  <li>Organize office</li>
</ul>


<button id="trigger" type="button">Button!</button>



<p class="show">stuff</p>
!-->

